<html>
  <head>
    <title>Michael Bruce</title>
    <link rel="stylesheet" href="styles.css" type="text/css" media="screen" charset="utf-8">
    <head>
      <body>
        <h1>Michael Bruce</h1>
        <p>
        <strong>michael@bruce.com</strong>
        <p>
        Today is <%= Time.now.strftime(*'%A') %><br>
        <p>&nbsp;
        <p>
        <center><img src=/images/bear.jpg class="circular"></center>
        <p>&nbsp;
        <p>
        Check out my projects and writing below.
        <p>
        <img src="/images/divider.png" width="80" alt="---">
        <p>
        <div class"pTable">
          <div class="pTableRow">
            <div class="pTableCell"><a href="/watermarker">Watermarker</a></div>
            <div class="pTableCell">Terminal Setup</div>
            <div class="pTableCell">Medical System</div>
          </div>
          <div class="pTableRow">
            <div class="pTableCell">Video tutorials</div>
            <div class="pTableCell">Data in ruby</div>
            <div class="pTableCell">SOQL Admin</div>
          </div>
          <div class="pTableRow">
            <div class="pTableCell">CSS Design</div>
            <div class="pTableCell">Android</div>
            <div class="pTableCell">Euler</div>
              </div>
          <div class="pTableRow">
            <div class="pTableCell">Linux Ruler</div>
            <div class="pTableCell">Idea #7874</div>
            <div class="pTableCell">Idea #2225</div>
              </div>
            </div>
            <p>
            <img src="/images/divider.png" width="80" alt="---">
            <p>
            If you want to know more about me that's cool too.
            <p>
            I'm not really a bear.
            <p>
            Currently developing at
            <p>
            <img src="/images/singletrack.png" width="300" class="singletrack">
      </body>
</html>
