<html>
<head>
  <title>Michael Bruce</title>
  <style>
    body {
      text-align: center;
      }
    .circular {
      width: 300px;
      height: 300px;
      border-radius: 150px;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
      background: url(http://link-to-your/image.jpg) no-repeat;
      box-shadow: 0 0 8px rgba(0, 0, 0, .8);
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
      -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
      }
  </style>
<head>
<body>
<h1>Hi. I'm Mike</h1>
<p>
Today is <%= Time.now.strftime(*'%A') %><br>
<p>&nbsp;
<p>
<center><img src=/images/bear.jpg class="circular"></center>
<p>&nbsp;
<p>
Check out my projects and writing below.

If you want to know more about me that's cool too.
<p>
I'm not really a bear.
</body></html>

