body {
  text-align: center;
}
h1 {
  color:#000000;
  font-family:verdana;
  font-size:300%;
}
p {
  color:black;
  font-family:arial;
}
.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(http://link-to-your/image.jpg) no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.singletrack {
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.center {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: #b0e0e6;
}
.pTable {
  display: block;
  align: center;
  /* width: 100%; */
  width: 50%;
  margin: 0 auto;
  /* margin-left:auto;  */
  /* margin-right:auto; */
}
.pTableHeading, .pTableBody, .pTableFoot, .pTableRow{
  clear: both;
  width: 100%;
  margin: 0 auto;
}
.pTableHead, .pTableFoot{
  background-color: #DDD;
  font-weight: bold;
}
.pTableCell, .pTableHead {
  border-radius: 25px;
  /* border: 4px solid #999999; */
  /* border: 1pc solid #999999; */
  /* float: left; */
  /* height: 70px; */
  /* overflow: hidden; */
  /* padding: 3px 1.8%; */
  /* margin: 10px; */
  /* width: 208px; */
}
.pTable:after {
  visibility: hidden;
  display: block;
}
